<style type="text/css">

      	   body{}
      	   table{
    border-color: #d6cfcf;
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    box-shadow: 5px 5px 25px #443a1663;
    margin-top: 25px;
}

table {}

table {}

table {}
      	   tr{}
      	   th{
    background: green;
    color: white;
}
      	   td{
    background: #72b77261;
    font-size: 12px;
    padding: 7px;
}

      </style>